.center {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem 0;
  margin-bottom: 0.6rem;
}

.App-header p {
  font-size: 2rem;
  margin-top: 2rem;
}

input,
button {
  padding: 0.5rem;
  margin: 1rem 0.2rem;
  display: inline-block;
}

.app__form {
  position: fixed;
  bottom: 0;
  width: 45rem;
  margin: 0 auto;
  z-index: 100;
  background-color: #282c34;
  border-radius: 2px;
}

@media (max-width: 576px) {
  .app__form {
    left: 0;
    right: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  input {
    width: 70%;
  }
}

.username {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  background-color: #fff;
  color: #282c34;
  margin: 0 10px;
  border-radius: 10px;
}
